<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Income:</strong>
  <%= @person.income %>
</p>

<p>
  <strong>Role:</strong>
  <%= @person.role %>
</p>

<p>
  <strong>Family:</strong>
  <%= @person.family_id %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
